/******************************************************************
Theme Name: Bestbook - Creative Product HTML5 Template
Description: Bestbook - Bootstrap 4 Creative Product HTML5 Template
Author: Codepixar
Author URL: http://www.codepixar.com/
Version: 1.0
Created: 09/09/2017
******************************************************************/
/*------------------------------------------------------------------
[Layout]

* body
	+ Header / .site-header
	+ Content / .site-main
		- Contetnt Area / .section
	+ Footer / .site-footer

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of contents]

1.  Common Styles
	1.1	Variables
	1.2	Mixins
	1.3	Flexbox
	1.4	Reset
2.  Header
3.  Slider / Banner
4.  Book Inside
5.  Author
6.  Book Reviews
7.  Upcomming Events
8.  Recent Downloads
9.  Contact
10. Subscribe
11. Footer

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Color codes]

Background: #fff (White)
Heading: #000000
Text : #666666
Gray : #f9fafc
Border: #cccccc


-----------------------------------------------------------------------*/
/*---------------------------------------------------------------------
[Typography]

Body 	:	15px/30px 'Open Sans', sans-serif;
Heading :	'Abril Fatface', cursive;
	h1  : 	36px
	h2  : 	30px
	h3  : 	24px
	h4  : 	18px
	h5  : 	14px
	h6  : 	12px
-----------------------------------------------------------------------*/
/*--------------------------- Color variations ----------------------*/
/* Medium Layout: 1280px */
/* Tablet Layout: 768px */
/* Mobile Layout: 320px */
/* Wide Mobile Layout: 480px */
/* =================================== */
/*  Basic Style 
/* =================================== */
@font-face{
	font-family: 'IranSans';
	src: url('relationbook/fonts/lnd1-IRANSansWeb.eot');
}
@font-face{
	font-family: 'IranSans';
	src: url('relationbook/fonts/lnd1-IRANSansWeb.ttf');
}
@font-face{
	font-family: 'IranSans';
	src: url('relationbook/fonts/lnd1-IRANSansWeb.woff');
}
body {
  color: #666666;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  position: relative;
  direction: rtl;
  font-family: 'IranSans';
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

select {
  display: block;
}

figure {
  margin: 0;
}

a {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

iframe {
  border: 0;
}

a, a:focus, a:hover {
  text-decoration: none;
  outline: 0;
  color: #666666;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
  text-decoration: none;
  outline: 0;
}

.card-panel {
  margin: 0;
  padding: 60px;
}

/**
 *  Typography
 *
 **/
.btn i, .btn-large i, .btn-floating i, .btn-large i, .btn-flat i {
  font-size: 1em;
  line-height: inherit;
}

.gray-bg {
  background: #f9fafc;
}

.alert {
  color: green;
}

h1, h2, h3,
h4, h5, h6 {
  
  color: #333333;
  line-height: 1.1em;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 400 !important;
}

.h1, .h2, .h3,
.h4, .h5, .h6 {
  margin-bottom: 0;
  margin-top: 0;
  
  color: #333333;
}

h1, .h1 {
  font-size: 36px;
}

h2, .h2 {
  font-size: 30px;
}

h3, .h3 {
  font-size: 24px;
}

h4, .h4 {
  font-size: 18px;
}

h5, .h5 {
  font-size: 16px;
}

h6, .h6 {
  font-size: 14px;
  color: #333333;
}

td, th {
  border-radius: 0px;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clear::before, .clear::after {
  content: " ";
  display: table;
}

.clear::after {
  clear: both;
}

/**
 *  Reset input fields opacity
 *
 **/
::-webkit-input-placeholder {
  opacity: .3;
  color: inherit;
}

:-moz-placeholder {
  /* Firefox 18- */
  opacity: .3;
  color: inherit;
}

::-moz-placeholder {
  /* Firefox 19+ */
  opacity: .3;
  color: inherit;
}

:-ms-input-placeholder {
  opacity: .3;
  color: inherit;
}

.fz-11 {
  font-size: 11px;
}

.fz-12 {
  font-size: 12px;
}

.fz-13 {
  font-size: 13px;
}

.fz-14 {
  font-size: 14px;
}

.fz-15 {
  font-size: 15px;
}

.fz-16 {
  font-size: 16px;
}

.fz-18 {
  font-size: 18px;
}

.fz-30 {
  font-size: 30px;
}

.fw100 {
  font-weight: 100;
}

.fw300 {
  font-weight: 300;
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.f700 {
  font-weight: 700;
}

.fsi {
  font-style: italic;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-120 {
  margin-top: 120px;
}

.mt-150 {
  margin-top: 150px;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-50 {
  margin-left: 50px;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mr-15 {
  margin-right: 15px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-50 {
  margin-right: 50px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-0-i {
  margin-bottom: 0px !important;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-100 {
  margin-bottom: 100px;
}

.pt-0 {
  padding-top: 0px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-150 {
  padding-top: 150px;
}

.pb-0 {
  padding-bottom: 0px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pr-30 {
  padding-right: 30px;
}

.pl-30 {
  padding-left: 30px;
}

.p-40 {
  padding: 40px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-italic {
  font-style: italic;
}

.transition {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.section-full {
  padding: 75px 0 60px 0;
}

.section-115 {
  padding: 115px 0;
}

.section-bg, .download-card {
  background: #f7fafc;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.inline-flex {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.flex-grow {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.flex-wrap {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
}

.flex-middle {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}

.flex-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}

.flex-top {
  -webkit-align-self: flex-start;
  -moz-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.flex-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}

.flex-bottom {
  -webkit-align-self: flex-end;
  -moz-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}

.space-around {
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around;
}

.flex-column {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-cell {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.display-table {
  display: table;
}

.light {
  color: #fff;
}

.dark {
  color: #000;
}

.relative {
  position: relative;
}

.overflow-hidden {
  overflow: hidden;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.overlay.op-2 {
  background-color: rgba(0, 0, 0, 0.2);
}

.overlay.op-3 {
  background-color: rgba(0, 0, 0, 0.3);
}

.overlay.op-4 {
  background-color: rgba(0, 0, 0, 0.4);
}

.overlay.black, .overlay.op-5 {
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay.op-6 {
  background-color: rgba(0, 0, 0, 0.6);
}

.overlay.op-7 {
  background-color: rgba(0, 0, 0, 0.7);
}

.overlay.black-3, .overlay.black-8, .overlay.op-8 {
  background-color: rgba(0, 0, 0, 0.8);
}

.overlay.black-9 {
  background-color: rgba(0, 0, 0, 0.9);
}

.container {
  max-width: none;
}

.container.fullwidth {
  width: 100%;
}

.container.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.no-padding {
  padding: 0;
}

@media (max-width: 767px) {
  .no-flex-xs {
    display: block !important;
  }
}

.row.no-margin {
  margin-left: 0;
  margin-right: 0;
}

.btn-header{
  top: 50px;
}

@media (max-width: 767px){
  
}

.p1-bg, .btn-first.color-1:after {
  background-image: -moz-linear-gradient(90deg, #f53c79 0%, #f0ae00 100%, #f6682f 100%);
  background-image: -webkit-linear-gradient(90deg, #f53c79 0%, #f0ae00 100%, #f6682f 100%);
  background-image: -ms-linear-gradient(90deg, #f53c79 0%, #f0ae00 100%, #f6682f 100%);
}

.p1-right-bg, .social-btn.color-1:after, .banner-area.color-1, .book-inside-carousel.color-1 .owl-prev:after, .book-inside-carousel.color-1 .owl-next:after, .book-inside-carousel.color-1 .total-overlay:after, .active-more-books.color-1 .owl-prev:after, .active-more-books.color-1 .owl-next:after, .active-more-books.color-1 .total-overlay:after, .active-review-carousel.color-1 .owl-dot.active, .cta-area.color-1, .modal-content.color-1 .login-btn, .weekly-book-carousel.color-1 .owl-prev:after, .weekly-book-carousel.color-1 .owl-next:after, .weekly-book-carousel.color-1 .total-overlay:after {
  background-image: -moz-linear-gradient(0deg, #f53c79 0%, #f0ae00 100%, #f6682f 100%);
  background-image: -webkit-linear-gradient(0deg, #f53c79 0%, #f0ae00 100%, #f6682f 100%);
  background-image: -ms-linear-gradient(0deg, #f53c79 0%, #f0ae00 100%, #f6682f 100%);
}

.p2-bg, .btn-first.color-2:after {
  background-image: -moz-linear-gradient(90deg, #494bf0 0%, #4beaf7 100%);
  background-image: -webkit-linear-gradient(90deg, #494bf0 0%, #4beaf7 100%);
  background-image: -ms-linear-gradient(90deg, #494bf0 0%, #4beaf7 100%);
}

.p2-right-bg, .social-btn.color-2:after, .banner-area.color-2, .book-inside-carousel.color-2 .owl-prev:after, .book-inside-carousel.color-2 .owl-next:after, .book-inside-carousel.color-2 .total-overlay:after, .active-more-books.color-2 .owl-prev:after, .active-more-books.color-2 .owl-next:after, .active-more-books.color-2 .total-overlay:after, .active-review-carousel.color-2 .owl-dot.active, .cta-area.color-2, .modal-content.color-2 .login-btn, .modal-content.color-3 .login-btn {
  background-image: -moz-linear-gradient(0deg, #494bf0 0%, #4bebf7 100%);
  background-image: -webkit-linear-gradient(0deg, #494bf0 0%, #4bebf7 100%);
  background-image: -ms-linear-gradient(0deg, #494bf0 0%, #4bebf7 100%);
}

.p3-bg, .btn-first.color-3:after {
  background-image: -moz-linear-gradient(90deg, #3dc4de 0%, #53ffb0 100%);
  background-image: -webkit-linear-gradient(90deg, #3dc4de 0%, #53ffb0 100%);
  background-image: -ms-linear-gradient(90deg, #3dc4de 0%, #53ffb0 100%);
}

.p3-right-bg, .social-btn.color-3:after, .banner-area.color-3, .book-inside-carousel.color-3 .owl-prev:after, .book-inside-carousel.color-3 .owl-next:after, .book-inside-carousel.color-3 .total-overlay:after, .active-more-books.color-3 .owl-prev:after, .active-more-books.color-3 .owl-next:after, .active-more-books.color-3 .total-overlay:after, .active-review-carousel.color-3 .owl-dot.active, .cta-area.color-3 {
  background-image: -moz-linear-gradient(0deg, #3dc4de 0%, #53ffb0 100%);
  background-image: -webkit-linear-gradient(0deg, #3dc4de 0%, #53ffb0 100%);
  background-image: -ms-linear-gradient(0deg, #3dc4de 0%, #53ffb0 100%);
}

.p4-bg {
  background: #f53c79;
}

.p4-right-bg, .social-btn.color-4:after, .banner-area-solid, .book-inside-carousel.color-4 .owl-prev:after, .book-inside-carousel.color-4 .owl-next:after, .book-inside-carousel.color-4 .total-overlay:after, .active-review-carousel.color-4 .owl-dot.active, .cta-area.color-4, .book-inside-carousel-solid .owl-controls .owl-nav .owl-prev:after, .book-inside-carousel-solid .owl-controls .owl-nav .owl-next:after, .book-inside-carousel-solid .book-page .total-overlay:after, .social-btn-solid:after, .active-more-books-solid .owl-controls .owl-nav .owl-prev:after, .active-more-books-solid .owl-controls .owl-nav .owl-next:after, .active-more-books-solid .book-page .total-overlay:after, .active-review-carousel-solid .owl-dot.active {
  background: #f53c79;
}

.btn-first {
  display: inline-block;
  padding: 0 30px;
  line-height: 40px;
  border-radius: 20px;
  color: #333333;
  border: 1px solid #eeeeee;
  
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-first span {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  z-index: 2;
}

.btn-first:focus {
  outline: none;
}

.btn-first.color-1 {
  position: relative;
}

.btn-first.color-1:after {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  z-index: 1;
  opacity: 0;
}

.btn-first.color-1:hover {
  border: 1px solid #fff;
  color: #fff;
  box-shadow: 0px 5px 10px 0px rgba(235, 33, 83, 0.3);
}

.btn-first.color-1:hover:after {
  opacity: 1;
}

.btn-first.color-2 {
  position: relative;
}

.btn-first.color-2:after {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  z-index: 1;
  opacity: 0;
}

.btn-first.color-2:hover {
  border: 1px solid #fff;
  color: #fff;
  box-shadow: 0px 5px 10px 0px rgba(235, 33, 83, 0.3);
}

.btn-first.color-2:hover:after {
  opacity: 1;
}

.btn-first.color-3 {
  position: relative;
}

.btn-first.color-3:after {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  z-index: 1;
  opacity: 0;
}

.btn-first.color-3:hover {
  border: 1px solid #fff;
  color: #fff;
  box-shadow: 0px 5px 10px 0px rgba(235, 33, 83, 0.3);
}

.btn-first.color-3:hover:after {
  opacity: 1;
}

.btn-first.button {
  background: #fff;
}

.btn-first.p-40 {
  padding: 0 40px;
}

.social-share {
  margin-right: -2px;
  margin-bottom: 10px;
}

.social-btn {
  display: inline-block;
  width: 35px;
  border-radius: 3px;
  border: 1px solid #eee;
  text-align: center;
  position: relative;
  margin-right: 5px;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.social-btn i {
  line-height: 35px;
  position: relative;
  z-index: 2;
}

.social-btn:after {
  content: '';
  position: absolute;
  width: 35px;
  height: 35px;
  top: 0;
  left: 0;
  border-radius: 3px;
  opacity: 0;
  z-index: 1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.social-btn.color-1:hover {
  color: #fff;
  border: 1px solid transparent;
}

.social-btn.color-1:hover:after {
  opacity: 1;
}

.social-btn.color-2:hover {
  color: #fff;
  border: 1px solid transparent;
}

.social-btn.color-2:hover:after {
  opacity: 1;
}

.social-btn.color-3:hover {
  color: #fff;
  border: 1px solid transparent;
}

.social-btn.color-3:hover:after {
  opacity: 1;
}

.social-btn.color-4:hover {
  color: #fff;
  border: 1px solid transparent;
}

.social-btn.color-4:hover:after {
  opacity: 1;
}

.social-btn.footer-color-1 {
  border: none;
  color: #020021;
  background: #35334d;
}

.social-btn.footer-color-1:hover {
  border: none;
}

.mfp-counter {
  display: none !important;
}

.nice-select::after {
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
  content: "";
  display: block;
  height: 7px;
  margin-top: -6px;
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: rotate(45deg);
  transform-origin: 66% 66% 0;
  transition: all 0.15s ease-in-out 0s;
  width: 7px;
}

.nice-select {
  border: none;
  
}

.nice-select .current {
  color: #333;
  text-transform: uppercase;
  font-weight: 500;
}

.info {
  position: absolute;
  left: 50%;
  bottom: -80px;
  transform: translateX(-50%);
  text-align: center;
}

.info.color-1 {
  color: #e23970;
}

.info.color-2 {
  color: #494bf0;
}

.info.color-3 {
  color: #3dc4de;
}

.info.color-4 {
  color: #f53c79;
}

.alert {
  color: green;
}

.border-top {
  border-top: 1px solid #eeeeee;
}

.sticky-header {
  background: #fff;
  position: relative;
  z-index: 99;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

@media (max-width: 991px) {
  .sticky-header {
    padding: 20px 0;
  }
}

@media (max-width: 767px) {
  .top-btn-group {
    margin-top: 20px;
  }
}

.default-header .navbar {
  padding: 0px;
}

@media (max-width: 991px) {
  .default-header .navbar-nav {
    margin-top: 30px;
    text-align: right;
  }
}

.default-header .navbar-nav .nav-item {
  margin: 0 25px;
  line-height: 80px;
}

@media (max-width: 991px) {
  .default-header .navbar-nav .nav-item {
    line-height: 45px;
  }
}

.default-header .navbar-nav .nav-link {
  padding: 0;
  
  font-weight: 500;
  color: #333333;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}

.default-header .navbar-nav.color-1 .nav-link:hover {
  color: #f54471;
}

.default-header .navbar-nav.color-1 .dropdown-ct li a:hover {
  color: #f54471;
}

.default-header .navbar-nav.color-2 .nav-link:hover {
  color: #494bf0;
}

.default-header .navbar-nav.color-2 .dropdown-ct li a:hover {
  color: #494bf0;
}

.default-header .navbar-nav.color-3 .nav-link:hover {
  color: #3dc4de;
}

.default-header .navbar-nav.color-3 .dropdown-ct li a:hover {
  color: #3dc4de;
}

.default-header .navbar-nav.color-4 .nav-link:hover {
  color: #f53c79;
}

.default-header .navbar-nav.color-4 .dropdown-ct li a:hover {
  color: #f53c79;
}

@media (max-width: 1199px) {
  .total-header {
    -webkit-box-align: top;
    -ms-flex-align: top;
    -webkit-align-items: top;
    -moz-align-items: top;
    align-items: top;
  }
}

.dropdown-ct {
  padding: 15px 30px;
  position: absolute;
  left: 0;
  top: 80px;
  min-width: 190px;
  background: #fff;
  opacity: 0;
  transform: scaleY(0);
  visibility: hidden;
  transform-origin: left top 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.dropdown-ct li {
  line-height: 40px;
}

.dropdown-ct li a {
  display: inline-block;
  line-height: 40px;
  
}

@media (max-width: 991px) {
  .dropdown-ct {
    padding: 15px 20px;
  }
}

.has-dropdown:hover .dropdown-ct {
  opacity: 1;
  transform: scaleY(1);
  visibility: visible;
}

@media (max-width: 991px) {
  .has-dropdown:hover .dropdown-ct {
    top: 0;
  }
}

.banner-area {
  padding: 80px 0;
}

.banner-area-solid {
  padding: 80px 0;
}

.active-banner-carousel .item h1 {
  font-size: 60px;
}

.active-banner-carousel .owl-controls {
  margin-top: 30px;
}

.active-banner-carousel .owl-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: -10px;
}

.active-banner-carousel .owl-dot {
  width: 20px;
  height: 4px;
  background: rgba(255, 255, 255, 0.3);
  margin-left: 10px;
}

.active-banner-carousel .owl-dot.active {
  position: relative;
  height: 4px;
  background: white;
}

.about-area {
  padding: 80px 0;
}


@media (max-width: 767px) {
  .btn-group .btn-first {
    margin-top: 20px;
  }
}

@media (min-width: 320px) and (max-width: 380px) {
  .btn-group .btn-first {
    margin-left: 0;
  }
}

.book-inside-carousel {
  padding: 0px 0px 0 0;
  position: relative;
}

.book-inside-carousel .owl-stage-outer {
  padding: 70px 0;
}

.book-inside-carousel .owl-controls {
  position: absolute;
  left: 50%;
  top: 60px;
  transform: translateX(-50%);
}

.book-inside-carousel .owl-controls .owl-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.book-inside-carousel .owl-controls .owl-nav .owl-prev {
  margin-right: 2px;
  position: relative;
  padding: 0 15px;
  text-align: center;
  border: 1px solid #eeeeee;
  border-radius: 20px 0px 0px 20px;
  text-align: center;
}

.book-inside-carousel .owl-controls .owl-nav .owl-prev span {
  display: inline-block;
  line-height: 35px;
  z-index: 2;
  position: relative;
}

.book-inside-carousel .owl-controls .owl-nav .owl-prev:after {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px 0px 0px 20px;
  z-index: 1;
  display: none;
}

.book-inside-carousel .owl-controls .owl-nav .owl-prev:hover {
  border: 1px solid transparent;
  color: #fff;
}

.book-inside-carousel .owl-controls .owl-nav .owl-prev:hover:after {
  display: block;
}

.book-inside-carousel .owl-controls .owl-nav .owl-next {
  margin-right: 2px;
  position: relative;
  padding: 0 15px;
  text-align: center;
  border: 1px solid #eeeeee;
  border-radius: 0px 20px 20px 0px;
  text-align: center;
  font-size: 20px;
}

.book-inside-carousel .owl-controls .owl-nav .owl-next span {
  display: inline-block;
  line-height: 35px;
  z-index: 2;
  position: relative;
}

.book-inside-carousel .owl-controls .owl-nav .owl-next:after {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0px 20px 20px 0px;
  z-index: 1;
  display: none;
}

.book-inside-carousel .owl-controls .owl-nav .owl-next:hover {
  border: 1px solid transparent;
  color: #fff;
}

.book-inside-carousel .owl-controls .owl-nav .owl-next:hover:after {
  display: block;
}

.book-inside-carousel .book-page {
  height: 260px;
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  position: relative;
  overflow: hidden;
  direction: rtl;
}

.book-inside-carousel .book-page .total-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.book-inside-carousel .book-page .total-overlay:after {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: .9;
}

.book-inside-carousel .book-page .overlay-content {
  position: absolute;
  left: 40px;
  bottom: 40px;
  z-index: 2;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.book-inside-carousel .book-page .pop-up-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 40px;
  bottom: 40px;
  border-radius: 50%;
  text-align: center;
  background: #fff;
  z-index: 2;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.book-inside-carousel .book-page .pop-up-btn span {
  line-height: 50px;
  color: #333333;
  font-size: 16px;
}

.book-inside-carousel .owl-item {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  position: relative;
}

.book-inside-carousel .owl-item:hover {
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.15);
}

.book-inside-carousel .owl-item:hover .total-overlay {
  transform: translateX(0);
}

.author-details .author-name {
  margin: 30px 0 20px 0;
}

.author-details .author-name h3 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.author-details .download {
  margin-bottom: 5px;
}

.author-details .download p {
  margin: 0;
}

.more-books {
  margin-top: 130px;
}

.more-books h3 {
  font-size: 24px;
  display: block;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}

.active-more-books {
  position: relative;
}

.active-more-books .owl-stage-outer {
  padding-top: 30px;
}

.active-more-books .owl-controls {
  position: absolute;
  right: 0;
  top: 0px;
}

.active-more-books .owl-controls .owl-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.active-more-books .owl-controls .owl-nav .owl-prev {
  margin-right: 2px;
  position: relative;
  padding: 0 15px;
  text-align: center;
  border: 1px solid #eeeeee;
  border-radius: 20px 0px 0px 20px;
  text-align: center;
}

.active-more-books .owl-controls .owl-nav .owl-prev span {
  display: inline-block;
  line-height: 35px;
  z-index: 2;
  position: relative;
}

.active-more-books .owl-controls .owl-nav .owl-prev:after {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px 0px 0px 20px;
  z-index: 1;
  display: none;
}

.active-more-books .owl-controls .owl-nav .owl-prev:hover {
  border: 1px solid transparent;
  color: #fff;
}

.active-more-books .owl-controls .owl-nav .owl-prev:hover:after {
  display: block;
}

.active-more-books .owl-controls .owl-nav .owl-next {
  margin-right: 2px;
  position: relative;
  padding: 0 15px;
  text-align: center;
  border: 1px solid #eeeeee;
  border-radius: 0px 20px 20px 0px;
  text-align: center;
}

.active-more-books .owl-controls .owl-nav .owl-next span {
  display: inline-block;
  line-height: 35px;
  z-index: 2;
  position: relative;
}

.active-more-books .owl-controls .owl-nav .owl-next:after {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0px 20px 20px 0px;
  z-index: 1;
  display: none;
}

.active-more-books .owl-controls .owl-nav .owl-next:hover {
  border: 1px solid transparent;
  color: #fff;
}

.active-more-books .owl-controls .owl-nav .owl-next:hover:after {
  display: block;
}

.active-more-books .book-page {
  height: 180px;
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  position: relative;
  overflow: hidden;
}

.active-more-books .book-page .total-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.active-more-books .book-page .total-overlay:after {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: .9;
}

.active-more-books .book-page .overlay-content {
  position: absolute;
  left: 30px;
  bottom: 25px;
  z-index: 2;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.active-more-books .book-page .overlay-content h4 a {
  text-transform: uppercase;
}

.active-more-books .owl-item {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
}

.active-more-books .owl-item:hover .total-overlay {
  transform: translateX(0);
}

.book-review {
  margin-bottom: 60px;
}

.book-review h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.book-review p {
  margin: 0;
}

@media (max-width: 767px) {
  .book-review p br {
    display: none;
  }
}

.active-review-carousel {
  padding-right: 60px;
}

@media (max-width: 991px) {
  .active-review-carousel {
    padding-bottom: 30px;
  }
}

.active-review-carousel .item p {
  margin-bottom: 30px;
}

.active-review-carousel .item h4 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.active-review-carousel .owl-controls {
  margin-top: 30px;
}

.active-review-carousel .owl-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: -10px;
}

.active-review-carousel .owl-dot {
  width: 20px;
  height: 4px;
  background: rgba(0, 0, 0, 0.1);
  margin-left: 10px;
}

.book-accordion .book-card-header h5 a {
  line-height: 55px;
  padding: 0 30px;
  display: block;
  font-weight: 500;
  border-bottom: 1px solid #eeeeee;
}

@media (max-width: 767px) {
  .book-accordion .book-card-header h5 a {
    padding: 0 15px;
  }
}

.book-accordion .book-card-header h5 a.collapsed {
  color: #333333;
}

.book-accordion .book-card-header h5 a .lnr {
  color: #333333;
}

.book-accordion .book-card-header.color-1 h5 a {
  background: -webkit-linear-gradient(-135deg, #c8169d, #ffb312);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.book-accordion .book-card-header.color-1 h5 a.collapsed {
  color: #333333;
  -webkit-text-fill-color: #333333;
}

.book-accordion .book-card-header.color-1 h5 a .lnr {
  color: #333333;
  -webkit-text-fill-color: #333333;
}

.book-accordion .book-card-header.color-2 h5 a {
  background: -webkit-linear-gradient(-135deg, #4beaf7, #494bf0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.book-accordion .book-card-header.color-2 h5 a.collapsed {
  color: #333333;
  -webkit-text-fill-color: #333333;
}

.book-accordion .book-card-header.color-2 h5 a .lnr {
  color: #333333;
  -webkit-text-fill-color: #333333;
}

.book-accordion .book-card-header.color-3 h5 a {
  background: -webkit-linear-gradient(-135deg, #3dc4de, #53feb0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.book-accordion .book-card-header.color-3 h5 a.collapsed {
  color: #333333;
  -webkit-text-fill-color: #333333;
}

.book-accordion .book-card-header.color-3 h5 a .lnr {
  color: #333333;
  -webkit-text-fill-color: #333333;
}

.book-accordion .book-card-header.color-4 h5 a {
  color: #f53c79;
}

.book-accordion .book-card-header.color-4 h5 a.collapsed {
  color: #333333;
}

.book-accordion .book-card-header.color-4 h5 a .lnr {
  color: #333333;
}

.book-accordion .book-card-body {
  padding: 25px 30px;
}

.single-event-table {
  padding: 40px 25px;
  background: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  margin-right: 1px;
}

.single-event-table:hover {
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.1);
  z-index: 3;
}

.single-event-table .date {
  font-size: 60px;
  color: #cccccc;
  
  font-weight: 600;
  padding-top: 6px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-bottom: 30px;
}

.single-event-table .date span {
  font-size: 24px;
  margin-top: 8px;
  font-weight: 400;
}

.single-event-table h4 a {
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  padding-bottom: 15px;
  font-weight: 600 !important;
  display: block;
  letter-spacing: 1px;
}

.single-event-table p {
  margin-bottom: 30px;
}

.single-event-table .read-more {
  font-weight: 600;
  color: #333333;
  font-size: 14px;
  text-transform: uppercase;
}

.single-event-table .read-more span {
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.single-event-table:hover .read-more span {
  opacity: 1;
}

.single-event-table.color-1:hover .date {
  background: -webkit-linear-gradient(135deg, #f53f75, #f0ab04);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.single-event-table.color-2:hover .date {
  background: -webkit-linear-gradient(135deg, #494ef0, #4beaf7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.single-event-table.color-3:hover .date {
  background: -webkit-linear-gradient(135deg, #53feb0, #3dc4de);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.single-event-table.color-4:hover .date {
  color: #f53c79;
}

.cta-area {
  padding: 50px 0;
}

.cta-area .content h4 {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
}

@media (max-width: 767px) {
  .cta-area .content h4 {
    margin-bottom: 20px;
  }
}

.download-card {
  padding: 20px 20px 20px 40px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.download-card span {
  margin-right: 20px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.download-card p {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 0;
}

.download-card:hover {
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.download-card.color-1:hover p {
  background: -webkit-linear-gradient(-135deg, #f0ab04, #f53f75);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.download-card.color-1:hover span {
  color: #f53f75;
}

.download-card.color-2:hover p {
  background: -webkit-linear-gradient(135deg, #4beaf7, #494ef0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.download-card.color-2:hover span {
  color: #494bf0;
}

.download-card.color-3:hover p {
  background: -webkit-linear-gradient(135deg, #53feb0, #3dc4de);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.download-card.color-3:hover span {
  color: #3dc4de;
}

.download-card.color-4:hover p {
  color: #f53c79;
}

.download-card.color-4:hover span {
  color: #f53c79;
}

.address h4 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer-1 {
  padding: 120px 0;
}

.footer-bg-1 {
  background: #020021;
}

.footer-content .footer-logo {
  margin-bottom: 70px;
}

.footer-content p {
  margin-top: 20px;
  margin-bottom: 0;
  color: #fff;
}

.footer-content p a {
  color: #fff;
}

.footer-content p.color-1 a:hover {
  color: #f53d78;
}

.footer-content p.color-2 a:hover {
  color: #494bf0;
}

.footer-content p.color-3 a:hover {
  color: #3dc4de;
}

.footer-content p.color-4 a:hover {
  color: #f53c79;
}

.single-input.color-1 input {
  background: transparent;
  color: #fff;
}

.single-input.color-1 textarea {
  background: transparent;
  color: #fff;
}

.single-input input {
  width: 100%;
  line-height: 40px;
  padding: 0 20px;
  border: 1px solid #eeeeee;
}

.single-input input:focus {
  outline: none;
  border: 1px solid transparent;
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.1);
}

.single-input textarea {
  width: 100%;
  line-height: 50px;
  padding: 0 20px;
  height: 140px;
  resize: none;
  border: none;
  border: 1px solid #eeeeee;
}

.single-input textarea:focus {
  outline: none;
  border: 1px solid transparent;
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.1);
}

.subscription input {
  line-height: 40px;
  padding: 0 30px;
  width: 90%;
  margin-right: 5px;
  border: 1px solid #eeeeee;
  outline: none;
  border-radius: 20px;
  background: #f9fafc;
}

.subscription input:focus {
  outline: none;
}

@media (max-width: 767px) {
  .subscription {
    display: block !important;
  }
  .subscription input {
    width: 100%;
    margin-top: 20px;
  }
  .subscription button {
    width: 100%;
    margin-top: 10px;
  }
}

.modal-dialog {
  margin: 80px auto;
  width: 456px;
}

@media (max-width: 767px) {
  .modal-dialog {
    width: 100%;
  }
}

.modal-content {
  padding: 50px;
  position: relative;
  background: rgba(0, 0, 0, 0.7);
}

@media (max-width: 767px) {
  .modal-content {
    padding: 30px 15px;
  }
}

.cross {
  position: absolute;
  top: 20px;
  right: 20px;
}

.cross span {
  font-size: 18px;
  cursor: pointer;
  color: #fff;
}

.total-content {
  text-align: center;
}

.total-content h3 {
  font-size: 36px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 30px;
}

.modal-input {
  text-align: right
}

.modal-input label {
  margin-top: 10px;
  color: #fff;
}

.modal-input input {
  width: 100%;
  line-height: 40px;
  padding: 0 30px;
  border: none;
  background: #f9fafc;
  display: inline-block;
  border: 1px solid #fff;
  font-size: 13px;
}

.modal-input input:focus {
  outline: none;
}

.remember {
  margin: 10px 0;
  position: relative;
  text-align: right;
}

.remember label {
  font-weight: 300;
  margin-left: 10px;
  color: #fff;
  position: relative;
  right: 20px;
}

.remember input[type=checkbox] {
  position: relative;
  z-index: 2;
  width: 14px;
  height: 14px;
  opacity: 0;
}

.remember .check-box {
  height: 14px;
  width: 14px;
  background: #fff;
  position: absolute;
  border-radius: 2px;
  top: 9px;
  right: 0;
}

.remember .check-box i {
  color: #fff;
  position: absolute;
  top: 2px;
  left: 2px;
  font-size: 10px;
}

.remember input[type=checkbox]:checked ~ .check-box i {
  color: #666666;
}

.login-btn {
  line-height: 40px;
  width: 100%;
  display: block;
  text-align: center;
  color: #fff;
  border: none;
  outline: none;
  font-weight: 500;
  text-transform: uppercase;
  border: 1px solid rgba(0, 0, 0, 0.7);
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.login-btn:focus {
  outline: none;
}

.forgot {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 30px;
  position: relative;
  color: #fff;
}

.forgot:after {
  width: 80px;
  height: 2px;
  content: "";
  position: absolute;
  top: 50px;
  left: 25px;
}

.d-acount {
  padding: 20px 0 0px 0;
  color: #fff;
}

.d-acount a {
  cursor: pointer;
  text-decoration: underline !important;
}

.d-acount a:hover {
  text-decoration: underline !important;
}

.modal-content.color-1 {
  border: 1px solid #e23970;
}

.modal-content.color-1 .login-btn:hover {
  color: #fff;
  border: 1px solid #e23970;
  background: transparent;
}

.modal-content.color-1 .forgot:hover {
  color: #e23970;
}

.modal-content.color-1 .d-acount a {
  color: #e23970 !important;
}

.modal-content.color-2 {
  border: 1px solid #494bf0;
}

.modal-content.color-2 .login-btn:hover {
  color: #fff;
  border: 1px solid #494bf0;
  background: transparent;
}

.modal-content.color-2 .forgot:hover {
  color: #494bf0;
}

.modal-content.color-2 .d-acount a {
  color: #494bf0 !important;
}

.modal-content.color-3 {
  border: 1px solid #3dc4de;
}

.modal-content.color-3 .login-btn:hover {
  color: #fff;
  border: 1px solid #3dc4de;
  background: transparent;
}

.modal-content.color-3 .forgot:hover {
  color: #3dc4de;
}

.modal-content.color-3 .d-acount a {
  color: #3dc4de !important;
}

.modal-content.color-4 {
  border: 1px solid #f53c79;
}

.modal-content.color-4 .login-btn {
  background: #f53c79;
}

.modal-content.color-4 .login-btn:hover {
  color: #fff;
  border: 1px solid #f53c79;
  background: transparent;
}

.modal-content.color-4 .forgot:hover {
  color: #f53c79;
}

.modal-content.color-4 .d-acount a {
  color: #f53c79 !important;
}

.modal {
  overflow-y: auto !important;
  overflow-x: hidden;
}

.modal-backdrop {
  z-index: 0;
}

.home-5 .sticky-header {
  background-image: -moz-linear-gradient(0deg, #f53c79 0%, #f0ae00 100%, #f6682f 100%);
  background-image: -webkit-linear-gradient(0deg, #f53c79 0%, #f0ae00 100%, #f6682f 100%);
  background-image: -ms-linear-gradient(0deg, #f53c79 0%, #f0ae00 100%, #f6682f 100%);
  box-shadow: none;
}

.home-5 .is-sticky .sticky-header {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.home-5 .navbar-nav .nav-link {
  color: #fff;
}

.home-5 .nice-select {
  background: transparent;
}

.home-5 .nice-select .current {
  color: #fff;
}

.home-5 .nice-select::after {
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}

.home-5 .sign-up-btn .btn-first {
  color: #fff;
}

.home-5 .banner-area {
  padding: 0;
}

.home-5 .banner-area .btn-first {
  color: #fff;
}

@media (max-width: 991px) {
  .home-5 .banner-img {
    display: none;
  }
}

.fixed-banner .item h1 {
  font-size: 60px;
}

.weekly-book-carousel .owl-stage-outer {
  padding: 70px 0;
}

.weekly-book-carousel .item {
  text-align: center;
}

.weekly-book-carousel .item img {
  width: auto;
  display: inline-block;
  pointer-events: none !important;
}

.weekly-book-carousel .owl-controls {
  position: absolute;
  left: 50%;
  bottom: 105px;
  transform: translateX(-50%);
  width: 100%;
}

.weekly-book-carousel .owl-controls .owl-nav {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.weekly-book-carousel .owl-controls .owl-nav .owl-prev {
  margin-right: 2px;
  position: relative;
  padding: 0 15px;
  border: 1px solid #eeeeee;
  border-radius: 20px 0px 0px 20px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}

.weekly-book-carousel .owl-controls .owl-nav .owl-prev span {
  display: inline-block;
  line-height: 35px;
  z-index: 2;
  position: relative;
}

.weekly-book-carousel .owl-controls .owl-nav .owl-prev:after {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px 0px 0px 20px;
  z-index: 1;
  display: none;
}

.weekly-book-carousel .owl-controls .owl-nav .owl-prev:hover {
  border: 1px solid transparent;
  color: #fff;
}

.weekly-book-carousel .owl-controls .owl-nav .owl-prev:hover:after {
  display: block;
}

.weekly-book-carousel .owl-controls .owl-nav .owl-next {
  margin-right: 2px;
  position: relative;
  padding: 0 15px;
  border: 1px solid #eeeeee;
  border-radius: 0px 20px 20px 0px;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
}

.weekly-book-carousel .owl-controls .owl-nav .owl-next span {
  display: inline-block;
  line-height: 35px;
  z-index: 2;
  position: relative;
}

.weekly-book-carousel .owl-controls .owl-nav .owl-next:after {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0px 20px 20px 0px;
  z-index: 1;
  display: none;
}

.weekly-book-carousel .owl-controls .owl-nav .owl-next:hover {
  border: 1px solid transparent;
  color: #fff;
}

.weekly-book-carousel .owl-controls .owl-nav .owl-next:hover:after {
  display: block;
}

.weekly-book-carousel .bottom {
  margin-top: 70px;
}

.circle-btn .social-btn {
  border-radius: 50%;
}

.circle-btn .social-btn:after {
  border-radius: 50%;
}

@media (max-width: 767px) {
  .circle-btn {
    margin-left: 0;
    margin-top: 20px;
  }
}

/*swiper*/
/* Large devices (large desktops, 1200px and up) */
/* Large devices (large desktops, 1200px and up) */
/* Medium devices (desktops, 992px and up) */
/* Small devices (tablets, 768px and up) */
/* Small devices (tablets, 768px and up) */
/** Mobile **/
.app-screenshot {
  background: #f8f8f8;
}

.swiper-button-prev {
  left: -15%;
  background-image: none !important;
}

.swiper-button-next {
  right: -10%;
  background-image: none !important;
}

.screen_wrap {
  width: 900px;
  margin: 50px auto 0;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .swiper-button-prev {
    left: -4%;
    background-image: none !important;
  }
  .swiper-button-next {
    right: 3%;
    background-image: none !important;
  }
  .screen_wrap {
    width: 80%;
    margin: 50px auto 0;
    position: relative;
  }
}

@media only screen and (max-width: 360px) {
  .swiper-button-prev {
    left: -7%;
    background-image: none !important;
  }
  .swiper-button-next {
    right: 8%;
    background-image: none !important;
  }
  .screen_wrap {
    width: 80%;
    margin: 50px auto 0;
    position: relative;
  }
  .swiper-slide {
    text-align: center;
  }
}

@media only screen and (max-width: 320px) {
  .swiper-button-prev {
    left: -7%;
    background-image: none !important;
  }
  .swiper-button-next {
    right: 19%;
    background-image: none !important;
  }
}

.screen_wrap .swiper-container {
  padding-bottom: 60px;
}

.screen_wrap .swiper-pagination-bullets {
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 10px;
}

.screen_wrap .swiper-pagination-bullets .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: #898989;
  opacity: 1;
  margin: 0 3px;
  transition: all 0.5s ease-in-out;
}

.screen_wrap .swiper-pagination-bullets .swiper-pagination-bullet-active {
  background-color: #ccc;
  -webkit-transform: scale(1.8);
  -ms-transform: scale(1.8);
  -o-transform: scale(1.8);
  transform: scale(1.8);
  transition: all 0.5s ease-in-out;
}

.btn-first-solid {
  display: inline-block;
  padding: 0 30px;
  line-height: 40px;
  border-radius: 20px;
  color: #333333;
  border: 1px solid #eeeeee;
  
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-first-solid span {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  z-index: 2;
}

.btn-first-solid:focus {
  outline: none;
}

.btn-first-solid.button {
  background: #fff;
}

.btn-first-solid.p-40 {
  padding: 0 40px;
}

.btn-first-solid:hover {
  background: #f53c79;
  color: #fff;
}

.btn-first-2 {
  display: inline-block;
  padding: 0 30px;
  line-height: 40px;
  border-radius: 20px;
  color: #333333;
  border: 1px solid #eeeeee;
  
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #fff;
}

.btn-first-2 span {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  z-index: 2;
}

.btn-first-2:focus {
  outline: none;
}

.btn-first-2.button {
  background: #fff;
}

.btn-first-2.p-40 {
  padding: 0 40px;
}

.btn-first-2:hover {
  background: #fff;
  color: #333333;
}

.book-inside-carousel-solid {
  padding: 130px 0px 0 0;
  position: relative;
}

.book-inside-carousel-solid .owl-stage-outer {
  padding: 70px 0;
}

.book-inside-carousel-solid .owl-controls {
  position: absolute;
  left: 50%;
  top: 60px;
  transform: translateX(-50%);
}

.book-inside-carousel-solid .owl-controls .owl-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.book-inside-carousel-solid .owl-controls .owl-nav .owl-prev {
  margin-right: 2px;
  position: relative;
  padding: 0 15px;
  text-align: center;
  border: 1px solid #eeeeee;
  border-radius: 20px 0px 0px 20px;
  text-align: center;
}

.book-inside-carousel-solid .owl-controls .owl-nav .owl-prev span {
  display: inline-block;
  line-height: 35px;
  z-index: 2;
  position: relative;
}

.book-inside-carousel-solid .owl-controls .owl-nav .owl-prev:after {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px 0px 0px 20px;
  z-index: 1;
  opacity: 0;
}

.book-inside-carousel-solid .owl-controls .owl-nav .owl-prev:hover {
  border: 1px solid transparent;
  color: #fff;
}

.book-inside-carousel-solid .owl-controls .owl-nav .owl-prev:hover:after {
  opacity: 1;
}

.book-inside-carousel-solid .owl-controls .owl-nav .owl-next {
  margin-right: 2px;
  position: relative;
  padding: 0 15px;
  text-align: center;
  border: 1px solid #eeeeee;
  border-radius: 0px 20px 20px 0px;
  text-align: center;
}

.book-inside-carousel-solid .owl-controls .owl-nav .owl-next span {
  display: inline-block;
  line-height: 35px;
  z-index: 2;
  position: relative;
}

.book-inside-carousel-solid .owl-controls .owl-nav .owl-next:after {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0px 20px 20px 0px;
  z-index: 1;
  opacity: 0;
}

.book-inside-carousel-solid .owl-controls .owl-nav .owl-next:hover {
  border: 1px solid transparent;
  color: #fff;
}

.book-inside-carousel-solid .owl-controls .owl-nav .owl-next:hover:after {
  opacity: 1;
}

.book-inside-carousel-solid .book-page {
  height: 260px;
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  position: relative;
  overflow: hidden;
}

.book-inside-carousel-solid .book-page .total-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.book-inside-carousel-solid .book-page .total-overlay:after {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: .9;
}

.book-inside-carousel-solid .book-page .overlay-content {
  position: absolute;
  left: 40px;
  bottom: 40px;
  z-index: 2;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.book-inside-carousel-solid .book-page .pop-up-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 40px;
  bottom: 40px;
  border-radius: 50%;
  text-align: center;
  background: #fff;
  z-index: 2;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.book-inside-carousel-solid .book-page .pop-up-btn span {
  line-height: 50px;
  color: #333333;
  font-size: 16px;
}

.book-inside-carousel-solid .owl-item {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  position: relative;
}

.book-inside-carousel-solid .owl-item:hover {
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.15);
}

.book-inside-carousel-solid .owl-item:hover .total-overlay {
  transform: translateX(0);
}

.social-btn-solid {
  display: inline-block;
  width: 35px;
  border-radius: 3px;
  border: 1px solid #eee;
  text-align: center;
  position: relative;
  margin-right: 5px;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.social-btn-solid i {
  line-height: 35px;
  position: relative;
  z-index: 2;
}

.social-btn-solid:after {
  content: '';
  position: absolute;
  width: 35px;
  height: 35px;
  top: 0;
  left: 0;
  border-radius: 3px;
  opacity: 0;
  z-index: 1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.social-btn-solid:hover {
  color: #fff;
  border: 1px solid transparent;
}

.social-btn-solid:hover:after {
  opacity: 1;
}

.active-more-books-solid {
  position: relative;
}

.active-more-books-solid .owl-stage-outer {
  padding-top: 30px;
}

.active-more-books-solid .owl-controls {
  position: absolute;
  right: 0;
  top: -53px;
}

.active-more-books-solid .owl-controls .owl-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.active-more-books-solid .owl-controls .owl-nav .owl-prev {
  margin-right: 2px;
  position: relative;
  padding: 0 15px;
  text-align: center;
  border: 1px solid #eeeeee;
  border-radius: 20px 0px 0px 20px;
  text-align: center;
}

.active-more-books-solid .owl-controls .owl-nav .owl-prev span {
  display: inline-block;
  line-height: 35px;
  z-index: 2;
  position: relative;
}

.active-more-books-solid .owl-controls .owl-nav .owl-prev:after {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px 0px 0px 20px;
  z-index: 1;
  opacity: 0;
}

.active-more-books-solid .owl-controls .owl-nav .owl-prev:hover {
  border: 1px solid transparent;
  color: #fff;
}

.active-more-books-solid .owl-controls .owl-nav .owl-prev:hover:after {
  opacity: 1;
}

.active-more-books-solid .owl-controls .owl-nav .owl-next {
  margin-right: 2px;
  position: relative;
  padding: 0 15px;
  text-align: center;
  border: 1px solid #eeeeee;
  border-radius: 0px 20px 20px 0px;
  text-align: center;
}

.active-more-books-solid .owl-controls .owl-nav .owl-next span {
  display: inline-block;
  line-height: 35px;
  z-index: 2;
  position: relative;
}

.active-more-books-solid .owl-controls .owl-nav .owl-next:after {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0px 20px 20px 0px;
  z-index: 1;
  opacity: 0;
}

.active-more-books-solid .owl-controls .owl-nav .owl-next:hover {
  border: 1px solid transparent;
  color: #fff;
}

.active-more-books-solid .owl-controls .owl-nav .owl-next:hover:after {
  opacity: 1;
}

.active-more-books-solid .book-page {
  height: 180px;
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  position: relative;
  overflow: hidden;
}

.active-more-books-solid .book-page .total-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.active-more-books-solid .book-page .total-overlay:after {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: .9;
}

.active-more-books-solid .book-page .overlay-content {
  position: absolute;
  left: 30px;
  bottom: 25px;
  z-index: 2;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.active-more-books-solid .book-page .overlay-content h4 a {
  text-transform: uppercase;
}

.active-more-books-solid .owl-item {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
}

.active-more-books-solid .owl-item:hover .total-overlay {
  transform: translateX(0);
}

.active-review-carousel-solid {
  padding-right: 60px;
}

@media (max-width: 991px) {
  .active-review-carousel-solid {
    padding-bottom: 30px;
  }
}

.active-review-carousel-solid .item p {
  margin-bottom: 30px;
}

.active-review-carousel-solid .item h4 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.active-review-carousel-solid .owl-controls {
  margin-top: 30px;
}

.active-review-carousel-solid .owl-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: -10px;
}

.active-review-carousel-solid .owl-dot {
  width: 20px;
  height: 4px;
  background: rgba(0, 0, 0, 0.1);
  margin-left: 10px;
}

.color-changer {
  position: fixed;
  top: 100px;
  right: 0;
  background: #fff;
  padding: 30px 100px 30px 30px;
  position: fixed;
  margin-right: -243px;
  z-index: 9999;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.color-changer h5 {
  font-weight: 500 !important;
  line-height: 1em;
}

.color-changer .changer-open {
  position: absolute;
  font-size: 18px;
  color: #333333;
  width: 50px;
  line-height: 50px;
  text-align: center;
  background: #f6f9fb;
  top: 0;
  left: -50px;
  border-radius: 3px 0 0 3px;
  cursor: pointer;
}

.color-changer .color-pick {
  margin-top: 20px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
  display: inline-block;
  position: relative;
}

.color-changer .color-pick .arrow-bottom {
  width: 30px;
  border-radius: 3px;
  border: 1px solid #eee;
  text-align: center;
  line-height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
}

.color-changer .color-pick .sp-replacer {
  height: 30px;
  width: 100px;
  border: none;
  background: #fff;
  border-radius: 0 3px 3px 0;
}

.color-changer .color-pick .sp-preview {
  border: none;
  width: 60px;
  height: 22px;
  border-radius: 3px;
}

.color-changer .color-pick .sp-preview-inner {
  border: none;
}

.color-changer .color-pick .sp-dd {
  color: #fff;
}

.color-changer.toggle-changer {
  margin-right: 0px;
}

.progress .progress-bar{
  background-color: #f0ae00;
}

.heading{
  font-weight: 700 !important;
}

.books{
  direction: ltr;
}

.container-infography{
  background-color: #f7f7f7;
  padding: 100px 0;
}

/*--------------------------*/

.special-carousel .img-cropper{
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.special-carousel img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.special-carousel .owl-prev {
  width: 15px;
  height: 100px;
  position: absolute;
  top: 40%;
  margin-left: -20px;
  display: block !important;
  border:0px solid black;
}

.special-carousel .owl-next {
  width: 15px;
  height: 100px;
  position: absolute;
  top: 40%;
  right: -25px;
  display: block !important;
  border:0px solid black;
}

.special-carousel .owl-nav{
  position: absolute;
  top: -33%;
  left: 49%;
}

.slider .owl-nav{
  font-size: 25px;
}

.special-carousel .owl-next,.owl-prev{
  font-size: 30px;
}

.second-special-carousel .img-cropper{
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.second-special-carousel img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.second-slider blockquote{
  padding: 0 40px;
  color: white;
}

.second-slider .owl-dots{
  display: flex;
  justify-content: center;
}

.second-slider{
  height: 400px;
  background-image: -moz-linear-gradient(0deg, #f53c79 0%, #f0ae00 100%, #f6682f 100%);
  background-image: -webkit-linear-gradient(0deg, #f53c79 0%, #f0ae00 100%, #f6682f 100%);
  background-image: -ms-linear-gradient(0deg, #f53c79 0%, #f0ae00 100%, #f6682f 100%);
}

.second-special-carousel .owl-controls{
  display: flex;
  justify-content: center;
}

.second-slider-heading{
  height: 100px;
}

.second-slider-heading h2{
  color: white;
}

.second-slider-heading header{
  position: relative;
  top: 55%;
  background-image: -moz-linear-gradient(0deg, #f53c79 0%, #f0ae00 100%, #f6682f 100%);
  background-image: -webkit-linear-gradient(0deg, #f53c79 0%, #f0ae00 100%, #f6682f 100%);
  background-image: -ms-linear-gradient(0deg, #f53c79 0%, #f0ae00 100%, #f6682f 100%);
  padding-top: 50px;
}

.container-about-book{
  background-image: -moz-linear-gradient(0deg, #f53c79 0%, #f0ae00 100%, #f6682f 100%);
  background-image: -webkit-linear-gradient(0deg, #f53c79 0%, #f0ae00 100%, #f6682f 100%);
  background-image: -ms-linear-gradient(0deg, #f53c79 0%, #f0ae00 100%, #f6682f 100%);
}

.container-about-book .fa{
  color: #f53c79;
}

.container-about-book h3{
  color: white;
  padding: 0 10px;
}

.container-about-book .book-features{
  display: flex;
  align-items: center;
}

.container-about-book .features{
  margin-right: 10%;
  text-align: right;
}

.container-about-book .price-list li{
  margin-top: 30px;
}

.container-about-book .book-btn{
  position: relative;
  bottom:20px;
}

/*--------------------------*/


.last-talk{
  padding: 40px 50px;
}

.modal{
  direction: rtl;
}

@media only screen and (min-width: 992px) {
  .banner-area .btn-header{
    position: relative;
    left: 36%;
    top: -80px;
  }
  .banner-area{
    height: 700px;
  }
}

.btn-header{
  color: white;
}

.btn-header:hover{
  color: black;
  transition: 1s;
}


@media only screen and (min-width: 576px) {
  .default-header .navbar-toggler{
    position: relative;
    left: -70%;
  }
}

@media only screen and (max-width: 767px) {
  .section-full .book-inside-carousel{
    padding: 0;
  }
}

.btn-shop-section{
  color: white;
}

/*--------------------*/

.flash{
  direction: ltr;
}

.breadcrumb { 
  list-style: none; 
  overflow: hidden; 
  font: 18px;
  padding:0.75rem 0rem;
  width: 90%;
  background-color: white;
}
.breadcrumb li { 
  float: left; 
}
.breadcrumb li a {
  color: white;
  text-decoration: none; 
  padding: 10px 0 10px 30px;
  background: brown; /* fallback color */
  background: hsla(34,85%,35%,1); 
  position: relative; 
  display: block;
  float: left;
  font-family: 'IranSans';
  text-align: center;
  font-size: 20px;
}
.breadcrumb li a::after { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 24px solid transparent; /* Go big on the size, and let overflow hide */
  border-bottom: 25px solid transparent;
  border-left: 24px solid hsla(34,85%,75%,1);
  position: absolute;
  top: 113%;
  margin-top: -56px; 
  left: 100%;
  z-index: 2; 
}
.breadcrumb li a::before { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 24px solid transparent;       
  border-bottom: 25px solid transparent;
  border-left: 24px solid white;
  position: absolute;
  top: 50%;
  margin-top: -24px; 
  margin-left: 2px;
  left: 100%;
  z-index: 1; 
}
.breadcrumb li:first-child a {
  padding-left: 10px;
}

.breadcrumb li a{
  background-color: hsla(34,85%,75%,1);
}

@media only screen and (min-width: 768px) {
  .breadcrumb .first{
    margin-left: 15%;
  }
}

@media only screen and (min-width: 992px) {
  .breadcrumb .first{
    margin-left: 25%;
  }
}

@media only screen and (min-width: 1407px) {
  .breadcrumb .first{
    margin-left: 28%;
  }
}
